<div class="panel panel-default">
    <div class="panel-body row">
        <div class="col-sm-1">
            <img src="/avatar.jpg" class="rounded-img" width="35px" height="35px">
        </div>
        <div class="col-sm-11">
          <%= form_for(@newPost) do |f| %>
            <div class="field" style="margin-left: 10px;">
                <%= f.text_field :content, autofocus: true, class:"form-control" %>
                <span type="button" style="float:right; margin-top:3px;"><%= f.submit "Add Post", class: "btn btn-primary navbar-btn"%></span>
              </div>
        <% end %>
        </div>
    </div>
</div>
